<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular</title>
    <link href="app/Directives/VirtualScroll/virtualScrollDirective.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin:0;
            padding:0;
        }
        #vsd {
            width: 50%;
            height: 50%;
            border: solid 1px red;
        }
    </style>
</head>
<body>
    <div ng-controller="MainCtrl as ctrl" style="padding:20px; height: 100%;">
        <!--ctrl:{{ctrl}}| cctrl: {{cctrl}}-->
        <p>
            data length: <input ng-model="ctrl.dataLength" />
            <button ng-click="ctrl.setData(ctrl.dataLength)">set data</button>
            height: <input ng-model="ctrl.height"/>
        </p>
        <!--<ul style="height:200px; border: solid 1px red;" ui-scroll-viewport>
            <li class="item" ui-scroll="item in ctrl.ds" style="height: 20px;">{{item}}</li>
        </ul>-->
        <div id="vsd" virtual-scroll="item in ctrl.data">
            <span>{{item}}</span>
        </div>

        
    </div>

    <script src="lib/jquery-1.12.4.min.js"></script>
    <!--<script src="lib/polifillAssign.js"></script>-->
    <script src="lib/angular.min.js"></script>
    <!--<script src="../Scripts/angular.min.js"></script>-->
    <script src="lib/angular-route.min.js"></script>
    <!--<script src="lib/ui-scroll.js"></script>-->
    <!--<script src="lib/ui-scroll-grid.js"></script>-->

    <script src="app/app.js"></script>
    <script src="app/Services/dataService.js"></script>
    <script src="app/Services/treeService.js_"></script>

    <script src="app/Directives/VirtualScroll/virtualScrollDirective.js"></script>
    <script src="app/Directives/Stat/statDirective.js"></script>

    <script src="app/mainController.js"></script>
    <script>angular.bootstrap("html", ['app']);</script>
</body>
</html>