.virtual-scroll-directive .virtual-scroll-list-box {
    overflow-y: scroll;
}

.virtual-scroll-directive .virtual-scroll-scroll {
    height: 100px;
    width: 19px;
    float: right;
    overflow-y: scroll;
    margin-left: -19px;
}

.virtual-scroll-directive ul {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.virtual-scroll-directive li {
    /*height: 20px;*/
}
